@page
@model IndexModel

<h1>Canteen Menu</h1>

<table>
    <thead>
        <tr>
            <th>Cold Dish</th>
            <th>Warm Dish</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MenuItems != null && Model.MenuItems.Any())
        {
            foreach (var item in Model.MenuItems)
            {
                <tr>
                    <td>@item.Colddish</td>
                    <td>@item.Warmdish</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No menu items available.</td>
            </tr>
        }
    </tbody>
</table>
