@page
@model IBAS_Kitchen.Pages.IndexModel
@{
    ViewData["Title"] = "Kantinens Menu";
}

<h1>Kantinens Menu</h1>

<table>
    <thead>
        <tr>
            <th>Ret</th>
            <th>Pris</th>
            <th>Dag</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItems)
        {
            <tr>
                <td>@item.DishName</td>
                <td>@item.Price.ToString("C")</td>
                <td>@item.Day</td>
            </tr>
        }
    </tbody>
</table>
